$color-fondos: rgb(198, 226, 248);

h1 {
  background-color: $color-fondos;
}

li.listed_album {
    #album_info {
      span.title {
        text-align: center;
      }
    span.likes {
        float: bottom;
      }
    }
  }

  @keyframes aparecer {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
$blue: #B5E6F5;
$lightblue: #ade1ff;
$yellow: #ADC9EA;
$green: #D8F0D4;

$colors: map-merge(
    (
      "titulo": $blue,
    ),
    $colors
);

@each $name, $value in $colors {
	.bg-#{$name} {
	  background-color: $value;
	}
  }

  .bg-info{
    background-color: #B5E6F5;
}
.bg-danger{
    background-color: #FFB2AD;
}
.bg-warning{
    background-color: #ADC9EA;
}
.bg-success{
    background-color: #D8F0D4;
}

::selection {
  background: cadetblue;
  color: white;
  text-shadow: 1px 1px #fff;
}

