$color-fondos: rgb(255, 255, 255);

h1 {
  background-color: $color-fondos;
}

li.listed_album {
    #album_info {
      span.title {
        text-align: center;
      }
    span.likes {
        float: bottom;
      }
    }
  }

  @keyframes aparecer {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

div {
	opacity: 0;
	width: 200px;
	height: 200px;
	background-color: red;
	margin: 50px auto;
	animation-name: aparecer;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

// Esto es medio parecido a javascript
$delay: 0;
@for $i from 1 through 4 {
	// para usar variable como selector tengo que ponerle si o si un # y un $
	div:nth-child(#{$i}) { 
		animation-delay: $delay + s;
	}
	$delay: $delay + 1;
} // cierra el for 